<%-include("./partials/header")%>
<h1>Sign Up Form</h1>

<form action="/register" method="POST">
    <div>
        <input type="text" name="username" placeholder="username">
    </div>
    <div>
        <input type="text" name="password" placeholder="password">
    </div>

    <div>
        <input type="submit" value="Sign Up">
    </div>
    
</form>
<%-include("./partials/footer")%>