.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
.delete-form {
  display: inline;
}
.footer{
	text-align: center;
	position: sticky;
	display: block;
	background:#999;
	color:black;
}
.giveMeEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show */
 }
 #fix-height{
	 height: 175px;
 }
 .scroll {overflow-x: hidden; overflow-y: auto;}
 html{
	 overflow-x: hidden;
	 overflow-y: auto;
 }

 @media screen and (min-width: 400px) {
	.card{
		width:80%;
		margin:0 auto;
	}
  }
  
  @media screen and (min-width: 800px) {
	.card{
		width:50%;
		margin:0 auto;
	}

  }
 